<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <h4 class="shadow-lg p-3 mb-5  rounded   bg-info text-white"><%= title %></h4>

    </div>
   

<div class="container center">
 <form class="form-group" action="/search/" id="EmployeeForm" method="post">
      <div class="input-group">
     
       <input id="search-text" type="text" class="form-control" placeholder="Search the data" name="filtername">
      <div class="input-group-append">
       <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></a></button>
       </div>
       </div>
     </form>

   

  
    
    <table class="table">
      <thead>
      <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Phone-Number</th>
         <th>DOB</th>
         <th>Action</th>
                 
      </tr>  
      </thead>
      <tbody>
      <% if(records.length >0){%>
       <% records.forEach(function(row){ %>
        <tr>
          <td><%= row.name %></td>
          <td><%= row.email %></td>
          <td><%= row.number %></td>
          <td><%= row.date_format %></td>
          <td><a class="btn btn-primary btn-xs" href="/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger btn-xs" href="/delete/<%= row._id %>"><i class="fa fa-trash"></i></a></td>
   
         </tr>
         <% })}else{ %> 
          <tr>
            <td colspan="6" style="font-weight: bold; color:red;">No record Found</td>
          </tr>
      
      <% } %>
    </tbody>
    </table>
    <div class="pagination pull-center">
      <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                    <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
          <% } else { %>
              <li><a href="/<%= pages %>">Last</a></li>
          <% } %>
      </ul>
  <% } %>
      </div>
      </div>

    <div>

    <a class="btn btn-dark pull-right" href="/create/add"><i class="fa fa-plus"></i></a>

   </div>

  </body>
  <script>
    $('#search-text').on("input",function(e) {
      let val = e.target.value;
      val = val.trim().replace(/ +/g, ' ').toLowerCase();
  
  $("tbody tr").each(function(){
   var itemtxt = $(this).text().replace(/\s+/g, ' ').toLowerCase();
   if(itemtxt.indexOf(val) > -1) {
     $(this).show();
   } else {
     $(this).hide();
   }
  });
 }); 
  </script>

  <style>
    .pagination>li>a, .pagination>li>span {
   border: 4px solid #ddd;
   justify-content: center;
}
  </style>
</html>
